<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register</title>
    <meta name="theme-color" content="rgb(0,0,0)">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_512.png?h=475ab812da3129fb85bd9f8e29e6cbe9' %}">
    <meta name="twitter:title" content="TeeKer">
    <meta name="twitter:image" content="{% static 'teeker/assets/img/LOGO_FOR_DISCORD.png?h=e36e95241d662e0f09928bc30db9b893' %}">
    <meta name="description" content="Want to share all your social media content in one place?
Join TeeKer and gain the ability to share your (Instagram, Youtube, Vimeo, SoundCloud and Spotify) in one place.
">
    <meta name="twitter:description" content="Want to share all your social media content in one place?
Join TeeKer and gain the ability to share your (Instagram, Youtube, Vimeo, SoundCloud and Spotify) in one place.">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_16.png?h=569a7593697731cf28057926a3be78c9' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_32.png?h=915b1880d9b30a1fb40d56c1637a8273' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_180.png?h=b6b0f4688a93c3c580ff3cdb74f2fd96' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_192.png?h=0a9f0f2acc0ca3237583f915ee774ff7' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_512.png?h=475ab812da3129fb85bd9f8e29e6cbe9' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/bootstrap/css/bootstrap.min.css?h=4bb68c50302c4a74f4b27c9506b91bfc' %}">
    <link rel="manifest" href="{% static 'teeker/manifest.json' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/fontawesome-all.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/font-awesome.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/ionicons.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/material-icons.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/fontawesome5-overrides.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/content-styling.css?h=409805a47e06834559f5030484ae2f8b' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/content.css?h=b215315f2168b886816024fb957f0dd1' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/Footer-Dark.css?h=43f1a76bb769df2530961de0a2d95492' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/navbar.css?h=9f14568babcad750da4a8fcabba6a11c' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/register_page.css?h=114d379ea7cf8a706c1e3ce180ff7738' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/searchbar_element.css?h=e6f646633e7cb301140ba0ff5a71c08b' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/sidebar.css?h=e30c6b32036894a750e22edb2fb63aeb' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/styles.css?h=e774a8686c012fdb259ef145cdf38aee' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/support_page.css?h=67472359af3e4d510e3cafaac50bb279' %}">
</head>

<body>
    <ul class="nav flex-column shadow d-flex sidebar mobile-hid">
        <li class="nav-item logo-holder">
            <div class="text-center text-white logo py-4 mx-4"><a class="text-white text-decoration-none" id="title" href="/"><br><div class="d-flex flex-row justify-content-center" style="font-family: Aldrich, sans-serif;"><h3>Tee</h3><h3 style="color: rgb(0,209,222);">Ker</h3></div></a><a class="text-white float-right"
                    id="sidebarToggleHolder" href="#"><i class="fas fa-bars" id="sidebarToggle"></i></a></div>
        </li>
        <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/"><i class="fas fa-home mx-3"></i><span class="text-nowrap mx-2">Home</span></a></li>
        <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/trending"><i class="fas fa-fire-alt mx-3"></i><span class="text-nowrap mx-2">Trending</span></a><a class="nav-link text-left text-white py-1 px-0" href="/world"><i class="icon ion-earth mx-3"></i><span class="text-nowrap mx-2">World</span></a></li>
        <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/login"><i class="fas fa-sign-in-alt mx-3"></i><i class="fa fa-caret-right d-none position-absolute"></i><span class="text-nowrap mx-2">Log In</span></a></li>
        <li class="nav-item"><a class="nav-link text-left text-white py-1 px-0" href="/support"><i class="fa fa-gears mx-3"></i><i class="fa fa-caret-right d-none position-absolute"></i><span class="text-nowrap mx-2">SUPPORT</span></a></li>
    </ul>
    <section class="main-section" id="hero_register">
        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-7 col-md-6 col-lg-6 col-xl-4 offset-xl-0 col-register-box" data-aos="zoom-in" data-aos-once="true">
                        <form action="/register" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-white">Sign Up</h3>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == "error" %}
                                    <label class="text-danger bg-dark" style="font-family: Roboto, sans-serif;font-size: 12px;padding-right: 5px;padding-left: 5px;"><strong>{{message}}</strong></label>
                                    {% else %}
                                    <label class="text-{{message.tags}} bg-dark" style="font-family: Roboto, sans-serif;font-size: 12px;padding-right: 5px;padding-left: 5px;"><strong>{{message}}</strong></label>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="form-group"><input class="form-control register-inputs" type="text" required="" maxlength="1600" placeholder="Username" name="username" pattern="[^'\x22\s]+" minlength="5"></div>
                            <div class="form-group"><input class="form-control register-inputs" type="text" required="" maxlength="1600" name="firstname" placeholder="First name" pattern="[^'\x22]+" minlength="2"></div>
                            <div class="form-group"><input class="form-control register-inputs" type="text" required="" maxlength="1600" name="lastname" placeholder="Last name" minlength="2" pattern="[^'\x22]+"></div>
                            <div class="form-group"><input class="form-control register-inputs" type="email" required="" maxlength="1600" name="email" placeholder="E-mail Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></div>
                            <div class="form-group"><label class="text-white" for="pwd">Password must be 8 - 128 characters.<br>Recommended using @,.&amp;%$<br>Your password can't be too similar to other personal accounts.<br></label><input class="form-control register-inputs"
                                    type="password" placeholder="Password" name="pwd" required="" maxlength="128" minlength="8"></div>
                            <div class="form-group"><input class="form-control register-inputs" type="password" placeholder="Confirm password" name="cpwd" required="" minlength="8" maxlength="128"></div>
                            <div class="form-group"><label class="text-white agree-label">By signing up you agree to our <a href="/termsandconditions#termsandconditions">Terms And Conditions</a>&nbsp;and <a href="/termsandconditions#privacypolicy">Privacy Policy</a></label>
                                <button
                                    class="btn btn-dark btn-block" type="submit">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="align-content-center align-self-center footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="https://twitter.com/TeekerCorp" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/teekercorporation/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Teeker Corp © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'teeker/assets/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f' %}"></script>
    <script src="{% static 'teeker/assets/bootstrap/js/bootstrap.min.js?h=7c038681746a729e2fff9520a575e78c' %}"></script>
    <script src="{% static 'teeker/assets/js/bs-init.js?h=4df33861fb0cc943cd5492d67853aba8' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'teeker/assets/js/level0/content/viewcontent_page.js?h=d41d8cd98f00b204e9800998ecf8427e' %}"></script>
    <script src="{% static 'teeker/assets/js/popover_sidebar.js?h=0154834ff12b7b3dda5d7c2cf24d8969' %}"></script>
    <script src="{% static 'teeker/assets/js/register_page.js?h=d41d8cd98f00b204e9800998ecf8427e' %}"></script>
    <script src="{% static 'teeker/assets/js/sidebar.js?h=5698962290ef9fcb7ad2ffc60db8773a' %}"></script>
</body>

</html>