<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Settings</title>
    <meta name="theme-color" content="rgb(0,0,0)">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_512.png?h=475ab812da3129fb85bd9f8e29e6cbe9' %}">
    <meta name="twitter:title" content="TeeKer">
    <meta name="twitter:image" content="{% static 'teeker/assets/img/LOGO_FOR_DISCORD.png?h=e36e95241d662e0f09928bc30db9b893' %}">
    <meta name="description" content="Want to share all your social media content in one place?
Join TeeKer and gain the ability to share your (Instagram, Youtube, Vimeo, SoundCloud and Spotify) in one place.
">
    <meta name="twitter:description" content="Want to share all your social media content in one place?
Join TeeKer and gain the ability to share your (Instagram, Youtube, Vimeo, SoundCloud and Spotify) in one place.">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_16.png?h=569a7593697731cf28057926a3be78c9' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_32.png?h=915b1880d9b30a1fb40d56c1637a8273' %}">
    <link rel="icon" type="image/png" sizes="180x180" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_180.png?h=b6b0f4688a93c3c580ff3cdb74f2fd96' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_192.png?h=0a9f0f2acc0ca3237583f915ee774ff7' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'teeker/assets/img/LOGO_FOR_DISCORD_512.png?h=475ab812da3129fb85bd9f8e29e6cbe9' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/bootstrap/css/bootstrap.min.css?h=4bb68c50302c4a74f4b27c9506b91bfc' %}">
    <link rel="manifest" href="{% static 'teeker/manifest.json' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/fontawesome-all.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/font-awesome.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/ionicons.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/material-icons.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/fonts/fontawesome5-overrides.min.css?h=0c556d5438933bda409408695b5733e7' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/content-styling.css?h=409805a47e06834559f5030484ae2f8b' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/content.css?h=b215315f2168b886816024fb957f0dd1' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/Footer-Dark.css?h=43f1a76bb769df2530961de0a2d95492' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/navbar.css?h=9f14568babcad750da4a8fcabba6a11c' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/searchbar_element.css?h=e6f646633e7cb301140ba0ff5a71c08b' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/settings_page.css?h=86bcf0976d0a8fa9da34fd3e00313450' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/sidebar.css?h=e30c6b32036894a750e22edb2fb63aeb' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/styles.css?h=e774a8686c012fdb259ef145cdf38aee' %}">
    <link rel="stylesheet" href="{% static 'teeker/assets/css/support_page.css?h=67472359af3e4d510e3cafaac50bb279' %}">
</head>

<body>
    {% include "teeker/site_templates/layouts/navbar.html" %}
    <section class="main-section" id="hero_settings">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center text-white" style="font-family: Aldrich, sans-serif;">SETTINGS</h3>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                <p class="text-break text-center text-danger alert-msg">{{message}} <i class="fa fa-close alert-msg-close-icon"></i></p>
                                {% else %}
                                <p class="text-break text-center text-{{message.tags}} alert-msg">{{message}} <i class="fa fa-close alert-msg-close-icon"></i></p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-12 col-md-4 col-lg-4 col-xl-3 offset-2 offset-sm-0 d-flex flex-column align-items-center" id="col-profile-picture">
                        {% if user.profile.profile_picture and user.profile.profile_picture.url|cut:'&export=download' != "None" %}
                        <img class="rounded-circle current-pp" src="{{user.profile.profile_picture.url|cut:'&export=download'}}" width="200px" alt="avatar" height="200px">
                        {% else %}
                        <img class="rounded-circle current-pp" src="{% static 'teeker/assets/default_img/avatar/avataaars.png' %}" width="200px" alt="avatar" height="200px">
                        {% endif %}
                        <button class="btn btn-light modal-trigger-btn-pp" type="button" data-toggle="modal" data-target="#modal2">Change Profile Picture</button>
                        <div
                            class="modal fade" role="dialog" tabindex="-1" id="modal2">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header modal-heading-pp">
                                        <h4 class="modal-title picture-heading-newpp">Upload Picture</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                    <div class="modal-body d-flex flex-column align-items-center modal-body-pp">
                                        <form class="d-flex flex-column align-items-center" action="/settings=npp" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <p class="picture-label-newpp" style="font-family: Roboto, sans-serif;">For best results. 1000x1000 pixels. 2MB file size limit.<br></p>
                                            <p class="text-muted align-self-start" style="font-size: 13px;">*Allowed formats (png or jpeg)</p>
                                            {% if user.profile.profile_picture and user.profile.profile_picture.url|cut:'&export=download' != "None" %}
                                            <img class="rounded-circle" id="preview_pp" src="{{user.profile.profile_picture.url|cut:'&export=download'}}" width="300px" height="300px" alt="preview_pp">
                                            {% else %}
                                            <img class="rounded-circle" id="preview_pp" src="{% static 'teeker/assets/default_img/avatar/avataaars.png' %}" width="300px" height="300px" alt="preview_pp">
                                            {% endif %}
                                            <div class="form-group"><button class="btn btn-info" id="upload_new_pp" type="button">Choose Picture</button><input type="file" class="file-input-profile-picture" name="npp" accept="image/*" style="display: none;" required=""></div>
                                            <div
                                                class="form-group"><button class="btn btn-warning" type="submit">Save Change</button></div>
                                    </form>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 offset-0 offset-sm-0 offset-xl-0 d-flex flex-column align-items-center" id="col-banner-picture" style="padding-bottom: 55px;margin-top: 20px;">
                {% if user.profile.banner_picture and user.profile.banner_picture.url|cut:'&export=download' != "None" %}
                <img class="current-bp" src="{{user.profile.banner_picture.url|cut:'&export=download'}}" width="100%" alt="avatar">
                {% else %}
                <img class="current-bp" src="{% static 'teeker/assets/default_img/banner/banner1.jpg' %}" width="100%" alt="avatar">
                {% endif %}
                <button class="btn btn-light modal-trigger-btn-pp" type="button" data-toggle="modal" data-target="#modal3">Change Banner Picture</button>
                <div class="modal fade" role="dialog"
                    tabindex="-1" id="modal3">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header modal-heading-pp">
                                <h4 class="modal-title picture-heading-newpp">Upload Picture</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body d-flex flex-column align-items-center modal-body-pp">
                                <form class="d-flex flex-column align-items-center" action="/settings=nbp" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="picture-label-newpp" style="font-family: Roboto, sans-serif;">For best results. 2000x350 pixels. 2MB file size limit.<br></p>
                                    <p class="text-muted align-self-start" style="font-size: 13px;">*Allowed formats (png or jpeg)</p>
                                    {% if user.profile.banner_picture and user.profile.banner_picture.url|cut:'&export=download' != "None" %}
                                    <img id="preview_bp" src="{{user.profile.banner_picture.url|cut:'&export=download'}}" width="100%" height="100px" alt="preview_bp" loading="auto">
                                    {% else %}
                                    <img id="preview_bp" src="{% static 'teeker/assets/default_img/banner/banner1.jpg' %}" width="100%" height="100px" alt="preview_bp" loading="auto">
                                    {% endif %}
                                    <div class="form-group"><button class="btn btn-info" id="upload_new_bp" type="button">Choose Picture</button><input type="file" class="file-input-banner-picture" name="nbp" accept="image/*" style="display: none;" required=""></div>
                                    <div
                                        class="form-group"><button class="btn btn-warning" type="submit">Save Change</button></div>
                            </form>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-7 col-md-8 col-lg-8 col-xl-12 offset-0" id="col-account-details">
            <h3 class="text-white" style="font-family: Roboto, sans-serif;">Account Details</h3>
            <p class="text-white" style="font-family: Roboto, sans-serif;"><strong>Username:</strong><br>{{user.username}}<br><strong>Full Name:</strong><br>{{user.first_name}} {{user.last_name}}<br><strong>E-mail Address:</strong><br>{{user.email}}<br><strong>About Me:</strong><br>{{user.profile.aboutme|linebreaksbr}}</p>
            <p class="text-right text-muted" style="font-family: Roboto, sans-serif;">Joined: {{user.date_joined}}<br>ID: {{user.pk}}</p><button class="btn btn-light setting-btns" id="edit_acc_details" type="button">Edit Account Details</button>
            <form class="form-update-account-details" action="/settings=updatedetails" method="post" style="display: none;">
                {% csrf_token %}
                <h4 class="text-white"><strong>Update Account Details</strong></h4>
                <div class="form-group"><input class="form-control setting-inputs" type="text" placeholder="New username" name="nusername" maxlength="1600" minlength="5"></div>
                <div class="form-group d-flex flex-row"><input class="form-control setting-inputs" type="text" name="nfirstname" placeholder="First name" maxlength="1600" style="margin-right: 10px;" minlength="1"><input class="form-control setting-inputs" type="text" name="nlastname" placeholder="Last name"
                        maxlength="1600" minlength="1"></div>
                <div class="form-group"><textarea class="form-control setting-inputs" name="naboutme" placeholder="About Me" maxlength="1600"></textarea></div>
                <div class="form-group"><button class="btn btn-primary setting-btns" type="submit">Update</button></div>
            </form>
        </div>
        </div>
        <div class="row-separetor"></div>
        <div class="row">
            <div class="col">
                <h4 class="text-white" style="font-family: Roboto, sans-serif;"><strong>Social Links</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {% for social_media_link in socialmedialinks %}
                <p class="text-break text-white d-flex align-items-center" id="del_{{social_media_link.id}}">&nbsp;{{social_media_link.social_icon | safe }}<a class="text-truncate" href="{{social_media_link.social_media_link}}" rel="noopen noreferrer" target="_blank">&nbsp; {{social_media_link.social_media_link}}&nbsp;<br></a><i class="fa fa-window-close delete-sociallink-icon"
                        id="delete_social_media" title="Delete Link" data-social_media_id="{{social_media_link.id}}"></i></p>
                {% endfor %}
            </div>
            <div class="col">
                <form action="/settings=addsocial" method="post">
                    {% csrf_token %}
                    <h5 class="text-white" style="font-family: Roboto, sans-serif;">Add Social Media</h5>
                    <div class="form-group"><input class="form-control setting-inputs" type="url" placeholder="Place URL here" name="sociallink" required=""></div>
                    <div class="form-group"><button class="btn btn-light setting-btns" type="submit">Add New Social Media Link</button></div>
                </form>
            </div>
        </div>
        <div class="row-separetor"></div>
        <div class="row">
            <div class="col">
                <h4 class="text-white" style="font-family: Roboto, sans-serif;"><strong>Security Settings</strong></h4>
            </div>
        </div>
        <div class="row d-flex flex-column security-row">
            <div class="col">
                <button class="btn btn-dark setting-btns" id="modal1btn" type="button" data-toggle="modal" data-target="#modal1" disabled="">Add 2-Factor Authentication</button>
                {% comment "2-Step Authentication hasn't been built yet" %}
                <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Two Factor Authentication</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                            <div class="modal-body">
                                <p>TODO</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
        <div class="row security-row">
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4"><button class="btn btn-light btn-block setting-btns" id="change_pwd" type="button">Change Password</button></div>
            <div class="col-sm-7 col-md-8 col-lg-8 col-xl-6">
                <form class="form-change-pwd" method="post" action="/settings=updatepwd" style="display: none;">
                    {% csrf_token %}
                    <div class="form-group"><label class="text-white">Enter Old Password</label><input class="form-control setting-inputs" type="password" placeholder="Old Password" name="opwd" required="" minlength="8" maxlength="128"></div>
                    <div class="form-group"><label class="text-white">Enter new password.<br>8 - 128 Characters.<br>Recommend using in the password @,.$#<br>Your password can't be too similar to other personal accounts.<br></label><input class="form-control setting-inputs" type="password"
                            placeholder="New Password" name="npwd" required="" minlength="8" maxlength="128"></div>
                    <div class="form-group"><label class="text-white">Re-enter the password to confim</label><input class="form-control setting-inputs" type="password" placeholder="Confirm Password" name="cpwd" required="" minlength="8" maxlength="128"></div>
                    <div class="form-group"><button class="btn btn-light setting-btns" type="submit">Update Password</button></div>
                </form>
            </div>
        </div>
        <div class="row security-row">
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4"><button class="btn btn-light btn-block setting-btns" id="change_email" type="button">Change Email Address</button></div>
            <div class="col-sm-7 col-md-8 col-lg-8 col-xl-6">
                <form class="form-change-email" action="/settings=cemail" method="post" style="display: none;">
                    {% csrf_token %}
                    <div class="form-group"><label class="text-white">Change your account e-mail address</label><input class="form-control setting-inputs" type="email" name="email" placeholder="New e-mail address"></div>
                    <div class="form-group"><input class="form-control setting-inputs" type="password" name="cpwd" placeholder="Enter password" autocomplete="off"></div>
                    <div class="form-group"><button class="btn btn-light setting-btns" type="submit">Change E-mail Address</button></div>
                </form>
            </div>
        </div>
        <div class="row-separetor"></div>
        <div class="row">
            <div class="col">
                <h4 class="text-white" style="font-family: Roboto, sans-serif;">Privacy &amp; Notification Settings</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="custom-control text-white custom-switch" style="font-family: Roboto, sans-serif;"><input class="custom-control-input" type="checkbox" id="formCheck-1" name="privacytoggle" disabled=""><label class="custom-control-label" for="formCheck-1">Private account&nbsp;<i class="fas fa-question-circle" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" title="DISABLED *Coming soon"></i></label></div>
                <div
                    class="custom-control text-white custom-switch" style="font-family: Roboto, sans-serif;"><input class="custom-control-input" type="checkbox" id="formCheck-2" name="newslettertoggle" data-current_state="{{user.profile.newsletter}}"><label class="custom-control-label" for="formCheck-2">News Letters</label></div>
            <div class="custom-control text-white custom-switch"
                style="font-family: Roboto, sans-serif;"><input class="custom-control-input" type="checkbox" id="formCheck-3" name="browserntoggle" data-current_state="{{user.profile.browser_notifications}}"><label class="custom-control-label" for="formCheck-3">Browser Notifications</label></div>
        </div>
        </div>
        {% if user.is_staff %}
        <div class="row-separetor"></div>
        <div class="row">
            <div class="col"><a href="/level0/users"><i class="fas fa-user-secret float-right" data-toggle="tooltip" data-bs-tooltip="" style="color: rgb(0,255,240);font-size: 27px; cursor: pointer;" title="Enter LEVEL 0"></i></a></div>
        </div>
        {% endif %}
        </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="https://twitter.com/TeekerCorp" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.instagram.com/teekercorporation/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Teeker Corp © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'teeker/assets/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f' %}"></script>
    <script src="{% static 'teeker/assets/bootstrap/js/bootstrap.min.js?h=7c038681746a729e2fff9520a575e78c' %}"></script>
    <script src="{% static 'teeker/assets/js/bs-init.js?h=4df33861fb0cc943cd5492d67853aba8' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'teeker/assets/js/level0/content/viewcontent_page.js?h=d41d8cd98f00b204e9800998ecf8427e' %}"></script>
    <script src="{% static 'teeker/assets/js/popover_sidebar.js?h=0154834ff12b7b3dda5d7c2cf24d8969' %}"></script>
    <script src="{% static 'teeker/assets/js/settings_page.js?h=f0bd1eeb89a5ac92cccee7511926e1d8' %}"></script>
    <script src="{% static 'teeker/assets/js/sidebar.js?h=5698962290ef9fcb7ad2ffc60db8773a' %}"></script>
</body>

</html>